@use "../_styles/colors";
@use "../_styles/mixins" as mixins;
@use "../_styles/default";
@use "../_styles/fonts";

.block {
  display: flex;
  flex-direction: column;
  gap: 12px; 
  margin-top: 32px;
  @include mixins.mediaquery("tablet", min) {
    margin-top: 49px;
  }
}

.input {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--accent-main);
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
}

.suggestions {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 150px;
  overflow-y: auto;
  border: 1px solid var(--accent-main);
  border-radius: 4px;
  background-color: var(--background);
  position: absolute;
  width: calc(100% - 16px);
}

.suggestionItem {
  padding: 8px;
  cursor: pointer;
  &:hover {
    background-color: var(--accent-main);
    color: var(--background);
  }
}

.buttonPlus {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: var(--background);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: var(--accent-main);
  box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
  border: 0.5px solid var(--accent-main);
  cursor: pointer;
  transition: background-color 250ms linear, color 250ms linear;

  @include mixins.mediaquery("tablet", min) {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }
}

.plus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14px;
  height: 14px;
}

.buttonPlus:hover {
  background-color: var(--background);
  color: var(--accent-main);
  border: 0.5px solid var(--accent-main);
}
